mixin mini-card(name, url, imgUrl, descr, price)
  article.mini-card
    p.mini-card__inner
      img.mini-card__pict(src=imgUrl, alt=name)
      h3.mini-card__title= name
      if descr
        p.mini-card__descr= descr
      if price
        p.mini-card__price= price

mixin book-card(name, url1, url2, url3, imgUrl, autor, descr, numberart, numberstock, namepubl, price, description)
  -

// mixin mini-card(name, url, imgUrl, descr, price)
//   article.mini-card
//     a.mini-card__inner(href=url)
//       img.mini-card__pict(src=imgUrl, alt=name)
//       h3.mini-card__title= name
//       if descr
//         p.mini-card__descr= descr
//       if price
//         p.mini-card__price= price


    // name =



//   article.book-card
//     .book-card__preview
//       img.book-card__preview(src=url1, alt=name)
//       img.book-card__preview(src=url2, alt=name)
//       img.book-card__preview(src=url3, alt=name)
//     .book-card__full
//       img.book-card__full(src=imgUrl, alt=name)
//       h5.book-card__full= autor
//       h3.book-card__full= name
//       p.book-card__full= descr
//         table.book-card__specs
//           tr
//             td.book-card__specs Артикул
//             td.book-card__specs= numberart
//           tr
//             td.book-card__specs В наличии
//             td.book-card__specs= numberstock
//           tr
//             td.book-card__specs Издательство
//             td.book-card__specs= namepubl
//           tr
//             td.book-card__specs Цена
//             td.book-card__specs= price
//     .book-card__button
//       button.btn Добавить в корзину
//       input.book-card__button(type='text')
//       p.book-card__button шт.
//     .book-card__love
//       img.book-card__love(src='', alt='')
//       p.book-like-text 20 людям понравилась эта книга
//     .book-card__descr
//       h1.book-card__descr Кoрoткое описание
//       p.book-card__descr= description
//     .book-card__showfull
//       a.btn(href='') Показать полностью
//     .book-card__social
//       img.book-card__fb(src='', alt='')
//       p 15
//       img.book-card__vk(src='', alt='')
//       p 4
//       img.book-card__like(src='', alt='')
//       p 150
//       img.book-card__dislike(src='', alt='')
//       p 0

// mixin book-recomend(name, descr)
//   article.book-recomend
//     h3.book-recomend__text= name
//     p.book-recomend__text= descr
//     //
//     .book-recomend__item
//       +mini-card('Латеральная логика', 'book.html', 'img/books/book-lateralnaya-logika.jpg', 'Головоломный путь к нестандартному решению', '500p')
//     .book-recomend__item
//       +mini-card('Путеводитель по лжи', 'book.html', 'img/books/book-putevoditel-po-lzhi.jpg', 'Критическое мышление в эпоху постправды', '500 p')
//     .book-recomend__item
//       +mini-card('Дао физики', 'book.html', 'img/books/book-dao-fiziki.jpg', 'Исследование параллелей между современной физикой и восточной философией', '500 p')
//     .book-recomend__item
//       +mini-card('Не очевидно', 'book.html', 'img/books/book-ne-ochevidno.jpg', 'Как выявлять тренды раньше других', '500 p')

// mixin slider(text, descr, more, imgUrl)
//   article.slider
//     p.slider__text= text
//     h2.slider__descr= descr
//     a.slider__more(href=url)
//     img.slider(src= imgUrl, alt='')
